.container{
    display: flex;
    flex-direction: column;
}

.title {
    padding: 0 2rem;
    background-color: #F3F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddf;

    p {
        padding-top: 1rem;
        font-size: 1.2rem;
        color: var(--black);
    }


}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
    input{
        width: 320px;
    }
    button{
       
        width:150px;
        height:35px;
     
    }

}

.botao{
    display:flex;
    gap: 1.1rem;
}

